

td {
    border: 3px solid;
    border-color:lightgray;
    font-size: 12px;
    background-color: white;
}

td:hover{ 
    border-color:purple;
}
 
table td {
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: inline-block;
    /* white-space: nowrap; */
}
table{
    table-layout: fixed;
}

/* table {
    margin-left:auto; 
    margin-right:auto;
} */

h2 {
    background-color: lightgray;
    margin-left:auto; 
    margin-right:auto;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font: bold;
}

a {
    color: black;
    text-decoration: none;
  }

 form {
     max-width: 500px;
     background-color: lightgray;
     padding: 1px;
 }

 .btn{
    border: 3px;
    border-color:  black;
    background-color:   white;
 }


/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    cursor: pointer;
    padding: 2px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Times, serif;
  }


  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: lightgray;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: block;
    overflow: hidden;
    background-color: #f1f1f1;
  }